body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.grid{
    display:flex;
    max-width: 531px;
    
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.square{
    border: 2px;
    padding: 6px;
    border-style: solid;
    border-color: red;
    margin: 1px;
}
.black{
    background-color:black;
}