body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.grid{
    display:flex;
    border: 2px solid red;
    flex-flow:row wrap;
    justify-content: space-around;
    position: relative;
    width: 70rem;
    height: 70rem;
    border-radius: 1rem;
}
.square{
    
    border-radius: 0.5rem;
    border: 0.5px solid blue;
    box-sizing: border-box;
    
}
.black{
    background-color:black;
}
.container{
    padding: 0 2vw;
    display: flex;
    justify-content: center;
}
