body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.grid{
    display:flex;
    max-width: 531px;
    
    flex-wrap: wrap;
    
}
.square{
    
    border-radius: 4px;
    padding: 40px;
    
    
}
.black{
    background-color:black;
}
.whole{
    display:flex;
    flex-direction: column;
}